.linhasEmprestimos img{
	width: 100%;
	height: 250px;	
}

.opcoesDeEmprestimos:hover{
	border: 1px solid darkred !important;	
}
.opcoesDeEmprestimos :hover{
	color:purple !important;
}
#aguarde{			
	position: fixed;	
	width:100%;
	height:1px;	
	top:30% !important;
	text-align: center;
	z-index: 50;	
}